html, body{
	background-color: #E1DCCA;
	width: 100%;
	height: 100%;
        margin: 0px;
        position: relative;
        /*font-family: 'Nunito', sans-serif;
        font-family: 'Courgette', cursive;*/
        font-family: 'Share', cursive;
}   
/* twitter, facebook...*/
.social_column{
        display:table-cell;
        vertical-align: top;
}
.social{
        background-color: #d4ccb1;
        width: 300px;
        margin:25px;
        border-radius: 10px 10px 10px 10px;

}

.socialholder{
        width: 1024px;
        display: table;
        margin: 10px 0;
}    

#twtr-widget-1{
        clear: both;
}

.texto-social{
        border-radius: 10px 10px 0px 10px;
        background-color: #8FC400;
        margin:-20px 0 0 -20px;
        padding: 20px;
        font-size: 20px;
}
/* El contenedor que todo lo abarca*/
#contenedor{
        width: 1024px;
        height:auto;
        min-height: 90%;
        /*border: solid 3px #eee;*/
        /*background-color: grey;*/
        margin: 0 auto 10px auto;
}
/*Cabecera*/
#menucabecera{
	width:1024px;
	height:100px;
        margin: 0 auto;
        font-family: 'Michroma', sans-serif;
        font-size: 8px;
}
#imglogo{
	width: 150px;
        height: 100px;
	position:relative;
	float:left;
        margin-left: -40px;
}
.boton{
	position: relative;
	float:right;
	width: 250px;
	height: 30px;
        font-size: 17px;
	color:#6C6C6C;
	text-align:right;
        margin-top: 35px;
        padding-top: 15px;
	
}
.boton:hover{ 
    	/*cuando se está encima las letras son verdes*/
        color:#8FC400;
}  
a{
	color:#FFF;
}
ul{
        list-style-type: none;   
}
#menucabecera ul { 
        text-align: center;
        clear:both;
  
}
#menucabecera li { 
        display: inline; 
        width: 150px;
	height: 150px;
}
.boton:hover{
	/*border:green 2px groove;*/
}
/*Fin de la cabecera*/
/*Estilo de los botones inferiores del index*/
#container2{
	width:1024px;
	height:auto;
        margin: 0 auto;
        border-radius: 10px 10px 10px 10px;
        background-color: #D4CCB1;
        color:#6C6C6C;
        font-family: 'Rock Salt', cursive;
        text-align: center;
}
#container2 a{
    color:#6C6C6C;
    margin-top: 10px;
}
#container2  a:hover{
    text-decoration: none;
}

#container2 ul{
    display: block;
    margin: 0;
    padding:0;
}
#container2 ul li{
    display: inline-block;
    
}
.cajas{
	width: 235px;
	height: 90px;
        border-radius: 10px 10px 10px 10px;
        margin: 5px;
        margin-bottom: 15px;
      /*  border: #6C6C6C solid 1px;
	color:#6C6C6C;
        /*padding: 40px 0px;
        margin-left: 0;
        margin-right: 30px;
        */        
        background-size: 235px 180px;
        display: table-cell;
        vertical-align: middle;
}
/*
#rock{
	background-image: url("images/rock.jpg");
        background-repeat: no-repeat;
        margin-left: 0px;
}
#pop{
	background-image: url("images/pop.jpg");
        background-repeat: no-repeat;
}
#electro{
	background-image: url("images/electro.jpg");
        background-repeat: no-repeat;
}
#hiphop{
	background-image: url("images/hiphop.jpg");	
        background-repeat: no-repeat;
}
#world{
	background-image: url("images/world.jpg");
        background-repeat: no-repeat;
        margin-left: 0px;
}
#solista{
	background-image: url("images/solista.gif");
        background-repeat: no-repeat;
}
#latina{	
	background-image: url("images/latina.jpg");
        background-repeat: no-repeat;
}
#spot{	
	background-image: url("images/bso.jpg");
        background-repeat: no-repeat;
}*/

#pie{
	clear: both;
        width:100%;
	color:#E1DCCA;
        background-color: #6C6C6C;
	padding:20px 0 25px 0;
        margin-top: 20px;
	visibility:visible;
	border-top: solid 3px #6C6C6C;
        
        bottom:0;
}
address{
    text-align: center;
}
/*Estilo del banner:*/
#container {
	width: 1024px;
	height:400px;
	margin: 0 auto 100px auto;
	padding-bottom: 10px;
	text-align: center;
	alignment-adjust: middle;
	alignment-baseline: middle;
        border-radius: 10px 10px 10px 10px;
}        

#example1 {
    margin-top:60px;
    z-index: 0;
}

pre {
    visibility: hidden;
}

.clear {clear:both;}

/*Estilo del twitter*/
/*
div#enlaces{
    position:fixed;
    right:0px;
    bottom:0px;
}
div#enlaces img{
    width:100px;
    height: 100px;
    float:left;
}
div#enlaces li{
    display:block;
}*/

/*Quienes somos*/
.divquienes{
    width: 1024px;
   /* float:left;
    position: relative;*/
    display: table;
    margin: 50px;
}
#h3tp:first-letter {
        text-transform: capitalize;
}
.divcurriculo{
    width: 300px;
    float:left;
    position: relative;
    margin-top: 20px;
    visibility: hidden;
    
}
.divfoto{
    margin: 20px auto;
}
.divcurriculo:hover{
    visibility: visible;
}
h2{
    text-align: center;
}
#quienes{
    text-align: justify;
    margin-bottom: 50px;
}
.cambiable{
    height: 300px;
    width: 300px;
    position: relative;
    float: left;
    margin: 30px 20px 0px 20px;
}
#foto_equipo{
    width: 300px;
    height: 300px;
}
.cambiable .initial, .cambiable .final{
    position: absolute;
    top: 0;
    left: 0;
}
.cambiable .final{
    display: none;
}
.cambiable:hover .initial{
    display: none;
}
.cambiable:hover .final{
    display: block;
}

/*
        border: red dashed 2px;
	background-color:  #B6C0D2;
/*	position: relative;
	float: left;
        margin: 5px;
        border: grey solid 1px;
	color:grey;*/

a, a:visited {
	/* Styling the links */
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration: underline;
	color: #FFFFFF;
}
/*
#logo {
	position: absolute;
	left: 378px;
	top: 100px;
	height: 140px;
}*/

/* CONTACTO*/
#h2contacto{
    margin: 20px auto 30px auto;
}
form{
	text-align: left;
}
contacto{
	width:1024px;
}
#formulario{
	float:left;
	width:500px;
	margin-left:20px;
}
#direccion{
	float:right;
	position:relative;
	width:500px;

}
#enviar{
	margin-left: 268px;
        padding: 5px 20px;
}
.textbox{
	text-align:right;
	float:right;
	position:relative;
	margin-right: 180px;
}
#recaptcha_widget_div {
        margin-top: 100px;
}

/*CONSEJOS PREVIOS*/
#consejos{
        text-align: justify;
        
}
#imgconsejo{
        float: right;
        position: relative;
        width: 200px;
        
}
#consejo{
        float: left;
        position: relative;
        width: 800px;
        clear: both;
}


/*BANNER*/
.clean_slider_container{
    overflow: hidden;
    margin:0 auto 20px auto;
    padding-right:10px;
    position: relative;
}
.clean_slider_container ul{
    list-style: none outside none;
    margin: 0 0 4px;
    padding: 0;
}  
.clean_slider_container li{
    margin:0;
    padding:0;
    float:left;
}
.clean_slider_img_list img{
    display: none;
    z-index: 1;
    position: absolute;
}
.clean_slider_mark_container{
    float:left;
    margin-left: 10px;
    
}
.clean_slider_mark_container li{
    width:16px;;
    height:16px;
}    
.clean_slider_mark_container a{
    background: url(images/bg.png) transparent top left no-repeat;
    width:16px;;
    height:16px;
    display: block;
}
.clean_slider_mark_container a.active{
    background: url(images/bg2.png) transparent bottom left no-repeat;
    width:16px;;
    height:16px;
    display: block;
  
}
.clean_slider_image_shown{
/** style to be applied to the final image **/
/** css3 properties, you can remove or change this class **/
    box-shadow:2px 2px 5px black;
    border-radius: 10px 10px 10px 10px;
}
.caption{
    background-color: black;
    filter: alpha(opacity = 80);    
    opacity: 0.8;
    position: absolute;
    height: 70px;
    z-index: 99;
    text-align: center;
    display: none;
    text-decoration: none;

}
.caption label{
    display: block;
    font-family: cursive;
    font-size: 23px;
    margin: 14px 10px 10px;
    color:white;
}


.ttw-music-player {
    width: 760px;
    margin: 60px auto;
    
}

.ttw-music-player .player {
    width: 100%;
}

/** Album Cover **/
.ttw-music-player .album-cover {
    position: relative;
    float: left;
    background: #333 url(images/album-cover-bg.jpg) no-repeat 0 0 scroll;;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, .75);
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, .75);
}

.ttw-music-player .album-cover .img {
    box-shadow: inset 0 0 1px rgba(255, 255, 255, .6);
    -moz-box-shadow: inset 0 0 1px rgba(255, 255, 255, .6);
    -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, .6);
    background-position:center center;
    background-repeat:no-repeat;
    background-color:transparent;
}

.ttw-music-player .album-cover .highlight {
    background: transparent url(images/album-cover-highlight.png) no-repeat 0 0 scroll;
    opacity: 1;

}

.ttw-music-player .album-cover:hover .highlight {
    opacity: 1;
}

.ttw-music-player .album-cover,
.ttw-music-player .album-cover .img,
.ttw-music-player .album-cover .highlight {
    display: block;
    height: 200px;
    width: 200px;
}

.ttw-music-player .album-cover img,
.ttw-music-player .album-cover .img,
.ttw-music-player .album-cover .highlight {
    position: absolute;
    top: 0;
    left: 0;
    
}

/** Track Info **/
.ttw-music-player .track-info {
    width: 400px;
    margin: 8px 0 0 1px;
    float: left;
    font-size: 36px;
}

.ttw-music-player .track-info p {
    margin: 0 0 8px 30px;
    text-align: left;
}

.ttw-music-player .player .title {
    color: black;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .8);    
    font-weight: bold;
    font-size: 36px;
}

.ttw-music-player .artist-outer {
    color: #727272;
    font-family: 'Lato Italic', arial, sans-serif;
    font-style: italic;
}

.ttw-music-player .artist {
    color: #999;
    font-family: 'Lato', arial, sans-serif;
    margin-left: 4px;
}

.ttw-music-player .rating {
    width: 200px;
    height: 16px;
}

.ttw-music-player .rating-star {
    width: 15px;
    height: 16px;
    display: block;
    float: left;
    /*background: transparent url(images/rating-off.png) no-repeat center center scroll;*/
    cursor: pointer;
}

.ttw-music-player .rating-star:hover,
.ttw-music-player .rating-star.on,
.ttw-music-player .rating-star.hover {
   /* background: transparent url(images/rating-on.png) no-repeat center center scroll;*/
}

/** Player **/
.ttw-music-player .player-controls {
    width: 530px;
    height: 30px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: transparent url(images/player-bg.png) repeat 0 0 scroll;
    float: left;
    margin: 12px 0 0 30px;
}

.ttw-music-player .player-controls .main {
    width: 52px;
    height: 12px;
    margin: 9px 9px;
    float: left;
}

.ttw-music-player .player-controls div {

    float: left;
    cursor: pointer;
}

.ttw-music-player .previous, .ttw-music-player .next {
    height: 10px;
    width: 15px;
    margin: 1px 0;
}

.ttw-music-player .play, .ttw-music-player .pause {
    width: 8px;
    height: 12px;
    margin: 0 7px;
}

.ttw-music-player .previous {
    background: transparent url(images/player-previous.png) no-repeat center center scroll;
}

.ttw-music-player .next {
    background: transparent url(images/player-next.png) no-repeat center center scroll;
}

.ttw-music-player .play {
    background: transparent url(images/player-play.png) no-repeat center center scroll;
}

.ttw-music-player .pause {
    background: transparent url(images/player-pause.png) no-repeat center center scroll;
}

.ttw-music-player .progress-wrapper {
    height: 9px;
    width: 450px;
    float: left;
    background: transparent url(images/player-progress.png) repeat-x 0 0 scroll;
    margin: 11px 00px 10px 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.ttw-music-player .progress {
    height: 9px;
    width: 135px;
    cursor: pointer;
}

.ttw-music-player .elapsed {
    height: 6px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 1px;
    width: 60%;
    background: transparent url(images/player-elapsed.png) repeat-x 0 0 scroll;
}

.ttw-music-player .unused-controls {
    display: none !important;
}

/** Description **/
.ttw-music-player .description {
    clear: both;
    margin: 30px 0 0 0;
    font-size: 12px;
    color: #999;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
}

.ttw-music-player .description.showing{
    margin:30px 0;
    font-style: italic;
    font-family: 'Arial';
    color: black;
}

/** Track List **/
.ttw-music-player .tracklist {
    padding: 10px 20px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .15), 0 1px 0 rgba(255, 255, 255, .04);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .15), 0 1px 0 rgba(255, 255, 255, .04);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .15), 0 1px 0 rgba(255, 255, 255, .04);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: transparent url(images/tracklist-bg.png) repeat 0 0 scroll;
    color: #999;
    font-size: 12px;
}

.ttw-music-player .tracklist ol {
    margin: 0;
    padding: 0;
    overflow:hidden;
}

.ttw-music-player .tracklist li {
    text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
    background: transparent url(images/tracklist-item-bg.png) repeat-x bottom left scroll;
    padding: 10px 0 10px 0;
    list-style-position: inside;
    position: relative;
}

.ttw-music-player .tracklist li:hover {
    color: #eee;
}

.ttw-music-player li:last-child{
    background: none;
}

.ttw-music-player .show-more-button li:last-child{
    background: transparent url(images/tracklist-item-bg.png) repeat-x bottom left scroll;
}



.ttw-music-player .tracklist .title {
    width: 164px;
    display: inline-block;
    padding: 0 0 0 14px;
    cursor: pointer;
}

.ttw-music-player li:nth-child(1n + 10) .title{
    padding-left:7px;
}

.ttw-music-player li.playing {
    color:#fff !important;

}

.ttw-music-player .tracklist .rating {
    margin-left: 10px;
    width: 30px;
    display: block;
    position: absolute;
    right: 72px;
    top: 12.5px;
}

.ttw-music-player .rating-bar {
    height: 10px;
    width: 3px;
    display: block;
    float: left;
    cursor: pointer;
    background: transparent url(images/rating-bar.png) no-repeat 0 0 scroll;
}

.ttw-music-player .rating-bar.on,
.ttw-music-player .rating-bar:hover,
.ttw-music-player .rating-bar.hover {
    background: transparent url(images/rating-bar-on.png) no-repeat 0 0 scroll;
}

.ttw-music-player .buy {
    width: 62px;
    height: 16px;
    display: inline-block;
    position: absolute;
    top: 9px;
    right: 0;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: transparent url('../images/buy-bg.png') repeat 0 0 scroll;
    margin: 0 0 0 10px;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
    text-shadow: none;
    color: #999;
    text-decoration: none;
}

.ttw-music-player .buy:hover {
    color: #eee;
}

.ttw-music-player .buy.not-active{
    display:none;
}

.ttw-music-player .more {
    display:none;
    font-family: 'Lato Italic', arial, sans-serif;
    font-style: italic;
    font-size: 11px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
    padding: 10px 0;
    margin: 10px 0;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: transparent url(images/tracklist-more.png) repeat 0 0 scroll;
}

.ttw-music-player .more:hover {
    color: #eee;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, .2);
}

.ttw-music-player .show-more-button .more{
    display:block;
}


/** Transitions **/
.ttw-music-player .more,
.ttw-music-player .album-cover .highlight,
.ttw-music-player .tracklist li,
.ttw-music-player .buy {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* http://perishablepress.com/press/2009/12/06/new-clearfix-hack */
.ttw-music-player .player:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

